.speech
{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
.song
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkorange;
}
.direction
{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: aliceblue;

}
.name
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:purple;
}
.calynx{
    color: cyan;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.calynx:hover
{
   box-shadow: 10px 10px 5px;
   border: 1px solid rgb(175, 32, 32);
}
.Salata{
    color: darkorchid;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.Melene{
    color: lightcoral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.Tarara
{
    color: darkolivegreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.Tarara:hover
{
   box-shadow: 10px 10px 5px;
   border: 1px solid rgb(223, 40, 71)
}
.tables
{
    text-align: center;
    color:blueviolet;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}
tr:nth-child(even) 
{
    background-color: lightgrey;

}

ul {

    background-color: grey;

    list-style-type: none;

    overflow: hidden;

  }

 

  li {

    float: left;

  }

 

  li a {

    text-decoration: none;

    display: block;

    color: white;

    padding: 14px 16px;

    text-align: center;

  }

